#!/bin/bash

ZK_HOSTS="{{zk_hosts}}{{zk_chroots['kafka']}}"

{% for topic in kafka_topics %}
/opt/{{kafka_dir_name}}/bin/kafka-topics.sh --create --zookeeper "$ZK_HOSTS" --replication-factor {{topic['replication_factor']}} --partitions {{topic['partitions']}} --topic {{topic['name']}} 
/bin/sleep 3
{% endfor %}

